.iconStatic {
  width: 16px;
  height: 16px;
  stroke: var(--dark-10);
}

.iconLike {
  width: 16px;
  height: 16px;
  stroke: var(--white-1);
  fill: none;

  &:hover {
    stroke: ver(--primary-color);
    fill: var(--primary-color);
  }
}

.iconDrop {
  width: 16px;
  height: 16px;
  stroke: var(--dark-10);
  transition: transform 0.3ms ease-in;

  &:hover,
  &:active {
    transform: rotate(180deg);
  }
}
