.iconStatic {
  width: 16px;
  height: 16px;
  stroke: var(--dark-10);
}

.iconDrop {
  width: 16px;
  height: 16px;
  stroke: var(--dark-10);
  transition: transform 0.3ms ease-in;

  &:hover,
  &:active {
    transform: rotate(180deg);
  }
}
