/* .container {
  margin-top: 68px;
} */
.containerHome {
  height: 100vh;
  /* width: 1400px; */
  background-color: var(--gray-5);
  background-image: url('/Picture1x-min.jpg');
  background-image: image-set(
    url('/Picture1x-min.jpg') 1x,
    url('/Picture2x-min.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .titleContainer {
    position: fixed;
    top: 65%;
    /* bottom: 60px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    .h1Title {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      width: 784px;
      font-size: 60px;
      line-height: 1.2;
      text-align: center;
      color: var(--white-3);
    }

    .pTitle {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.33333;
      color: var(--white-3);
    }
  }
}

.containerCatalog {
  margin-top: 104px;
  margin-bottom: 124px;
  /* margin-top: 68px; */
}

.containerDetails {
  margin-top: 104px;
  margin-bottom: 124px;
  display: grid;
  grid-template-columns: 640px 488px;
  grid-template-rows: 512px 1fr;
  gap: 40px 70px;
  grid-template-areas:
    'img tt'
    'frm tt';
  justify-content: center;
  /* align-items: stretch; */
}

.imgCar {
  grid-area: img;
  border-radius: 18px;
  width: 640px;
  height: 512px;
}

.sectionTitle {
  grid-area: tt;
}
.sectionForm {
  box-sizing: border-box;
  align-items: stretch;
  grid-area: frm;
  padding: 32px;
  border: 1px solid var(--gray-5);
  border-radius: 10px;
  justify-items: start;
}

/* not found */
.container {
  text-align: center;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 96px;
  font-weight: bold;
  color: var(--dark-10);
}

.message {
  font-size: 20px;
  color: var(--gray-8);
}

.homeLink {
  gap: 0px;
  border: 1px solid var(--primary-color);
  color: var(--dark-10);
  background-color: transparent;
  border-radius: 12px;
  padding: 12px 12px;
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;

  &:hover {
    border: 1px solid var(--primary-color-hover);
    cursor: pointer;
  }
}
